@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.default-action {
		@apply px-4 py-2 text-white bg-indigo-700 rounded w-fit;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--primaryPurple: #646ff0;
	--black-1: #646681;
	--black-2: #585858;
	--bg-1: #f8f8ff;
	--bg-2: #ecedf6;
	--bg-3: #cccdde;
	--gray-1: #eee;
	--gray-2: #dedfe1;
	--black: black;
	--white: white;
}
.main {
	font-family: 'Poppins', sans-serif;
	width: 100%;
	min-height: 100vh;
	background-color: var(--bg-1);
	font-size: 10px;
}
* {
	font-family: 'Poppins', sans-serif;
}
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
.title {
	display: inline-block;
	width: 100%;
	font-size: 40px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	color: var(--black-1);
}
.app__wrapper {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}
.appHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}